* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
}


body {
    font-family: VodafoneRg;
    /* Optional: Set your preferred font */
    -webkit-user-select: none;
    user-select: none;
}


main {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url('assets/Main Game Background.png');
    background-color: black;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.game-quiz-container {
    width: 90%;
    max-width: 600px;
    height: auto;
    min-height: 80vh;
    background-image: url('assets/Game  Container Background.png');
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.game-details-container {
    width: 100%;
    height: auto;
    padding: 1rem 0;
    display: flex;
    justify-content: space-around;
    align-items: center;

}

.game-details-container h1 {
    font-size: 1.3rem;
    color: #FFF6B2;
    font-family: VodafoneRgBd_0;
}

.game-question-container {
    width: 100%;
    height: auto;
    min-height: 10rem;
    background-image: url('assets/Game Question Container .png');
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 100%;
    margin-top: 0;
    padding: 1rem;
}

.game-question-container h1 {
    font-size: 20px;
    text-align: center;
    color: #FFF6B2;
    padding: 3px;
    max-width: 70%;
    word-wrap: break-word;

}

.game-options-container {
    width: 90%;
    height: auto;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
    justify-content: center;
    margin-top: 2rem;
}

.game-options-container span {
    width: 100%;
    height: auto;
    margin-top: 0;
}

span label {
    display: flex;
    width: 100%;
    height: auto;
    min-height: 3rem;
    border: 0.25rem solid #FFF6B2;
    border-radius: 0.9rem;
    cursor: pointer;
    transition: all 0.3s;
    font-weight: 800;
    color: rgb(225, 225, 225);
    font-size: 0.75rem;
    text-align: center;
    padding: 0.6rem;
    margin-left: 0;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    word-wrap: break-word;
}

span label:hover {
    -ms-transform: scale(1.05);
    -webkit-transform: scale(1.05);
    transform: scale(1.05);
    color: #FFF6B2;
}

input[type="radio"] {
    position: relative;
    display: none;
}

/* option box  color when checked*/
input[type=radio]:checked~.option {
    background: #FFF6B2;
}


/* option box text change when checked used when basic color not clear with option color*/
input[type="radio"]:checked+label {
    color: black !important;
    /* Change the color to black */
}

input[type="radio"]:checked+label {
    color: black;
    /* Change the color to black */
}

.next-button-container {
    width: 90%;
    height: auto;
    display: flex;
    justify-content: center;
    margin-top: 2rem;
    margin-left: 0;
}

.next-button-container button {
    width: 18rem;
    height: 3rem;
    border: 0.25rem solid #FFF6B2;
    border-radius: 0.9rem;
    background-color: rgba(255, 255, 255, 0);
    color: rgb(255, 255, 255);
    font-weight: 1000;
    cursor: pointer;
}

.next-button-container button:hover {
    background-color: #FFF6B2;

}

.next-button-container button:hover,
.modal-button-container button:hover {
    color: black !important;
}

.next-button-container button:checked {
    color: black;
    /* Change text color when checked */
}


.modal-container {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
    flex-direction: column;
    align-items: center;
    justify-content: center;
    -webkit-animation: fadeIn 1.2s ease-in-out;
    animation: fadeIn 1.2s ease-in-out;
}

.modal-content-container {
    height: auto;
    min-height: 10rem;
    width: 25rem;
    background-color: rgb(35, 3, 151);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    border: 0.25rem solid #FFF6B2;
    border-radius: 0.9rem;
    margin-left: 1.5rem;
}

.modal-content-container h1 {
    font-size: 1.3rem;
    height: auto;
    color: lightgray;
    text-align: center;
}

.grade-details {
    width: 15rem;
    height: 10rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.grade-details p {
    color: white;
    text-align: center;
}

.modal-button-container {
    height: 2rem;
    width: 35%;
    display: flex;
    background-image: url('assets/Next Button.png');
    background-size: cover;
    align-items: center;
    justify-content: center;
}

.modal-button-container button {
    width: 10rem;
    height: 2rem;
    background-color: rgba(255, 255, 255, 0);
    border: 0.2rem solid #FFF6B2;
    border-radius: 0.75rem;
    outline: none;
    color: white;
    font-size: 1.1rem;
    cursor: pointer;
}

.modal-button-container button:hover {
    background-color: #FFF6B2;
}

.modal-button-container button:checked {
    color: black;
    /* Change text color when checked */
}

/* General Mobile/Tablet Adjustments */
@media (max-width: 600px) {
    .game-quiz-container {
        width: 95%;
        min-height: 90vh;
        padding: 1rem;
    }

    .game-details-container h1 {
        font-size: 1rem;
    }

    .game-question-container h1 {
        font-size: 1.1rem;
    }

    .game-options-container {
        gap: 0.75rem;
    }

    span label {
        font-size: 0.9rem;
        padding: 0.75rem;
        min-height: 3.5rem;
    }

    .next-button-container button {
        width: 100%;
        height: 3rem;
        font-size: 1.1rem;
    }

    .modal-content-container {
        width: 90%;
        min-height: 15rem;
    }

    .modal-content-container h1 {
        font-size: 1.2rem;
    }
}

/* Tablet Adjustments (601px to 1024px) */
@media (min-width: 601px) and (max-width: 1024px) {
    .game-quiz-container {
        width: 70%;
        min-height: 70vh;
    }
}
